.center{

    .modal{

        .modal-body{
            text-align: center;
            margin: 20px 0;
            padding: 0 20px;

             i{
                font-size: 25px;
                padding: 25px;
                border: 2px solid #009432;
                border-radius: 50%;
                color: #1e272e;
                margin-bottom: 15px;
              }
        }
    }
}